#foo
{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.row
{
    display: flex;
    align-items: flex-start;
}

aside
{
    flex: 0 1 20rem;
    overflow-y: auto;
    position: sticky;
    z-index: 1019;
    padding: 2rem 2rem;
    background-color: rgb(107, 155, 30);
    color: rgba(255,255,255,0.5);
    font-size: 1.125rem;
    box-shadow: 0.5rem 0.5rem 1rem rgb(0 0 0 / 20%);
    display: block;
}