{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align:center; padding-bottom: 35px;">Listings from {{category.title}} Category</h2>

    {% for listing in listings %}
            <div class="list-group">
                <a href="{% url 'listing' listing.id %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{listing.title}}</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">{{ listing.detailed_description }}</p>
                <small class="text-muted">{{category.title}}</small>
                </a>
            </div>
    {% endfor %}
{% endblock %}