textarea {
    min-height: 400px;
}

#emails-view .email_container
{
    border-style: solid;
    border-color: black;
    color: black;
    border-width: 1px;
    display:flex;
    justify-content: space-between;
    height: 35px;
}

#emails-view .email_container:hover
{
    cursor: pointer;
    background-color: rgb(231, 230, 230);
}

#emails-view .email_container li
{
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}

#emails-view .email_container #sender
{
    font-weight:bold;
}

hr .solid
{
    border-top: 3px solid #bbb;
}

#display-email #info .span
{
    font-weight: normal;
    color: black;
    display: flex;
    justify-content: space-between;
}

#display-email #bruh
{
    display: flex;
    justify-content: space-between;
}



